<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.XDDominik.fi_d.fiatd"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="at.XDDominik.fi_d.fiatd.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ziehung.MainZiehung"
            android:label="FI@D" />
        <activity android:name=".Profil.MainProfil" />
        <activity android:name=".Artikel.mainArtikel" />
        <activity android:name=".Probenzieher.mainProbenzieher" />
        <activity android:name=".Kunde.mainKunde" />
        <activity android:name=".Kundenvertreter.mainKundevertreter" />
        <activity android:name=".ZiehungBearb.MainZiehungBearb" />
        <activity android:name=".ClientServerZiehung.MainClientServerZiehung" />
        <activity android:name=".Unterschrift.UnterschKunde" />
        <activity android:name=".Unterschrift.UnterschLVA" />
        <activity android:name=".ZiehungBearb.NeueZiehung" />
        <activity android:name=".Ziehung.EditeProbeactivity" />
        <activity android:name=".Ziehung.MakePhotoActivity" />
        <activity android:name=".CameraActivity" />
    </application>

</manifest>
